#game_box {

}

textarea {
    float:right;
    border: 3px solid #4CAF50;
    padding: 5px;
}
#logo {
     float: left;
     height: 200px;
     width: 300px;
}

#options {
    float: bottom;
}